* {
    box-sizing: border-box;
}

.ludo-container {
    width: 450px;
    margin: 20px auto;
}

.ludo-container .ludo {
    height: 450px;
    width: 100%;
    background-image: url('./ludo-bg.jpg');
    background-size: contain;
    position: relative;
}

.player-pieces {
    height: 100%;
    width: 100%;
}

.player-piece {
    width: 3%;
    height: 3%;
    border: 2px solid;
    border-radius: 10px;
    position: absolute;
    transform: translate(50%, 50%);
    transition: all .2s;
    z-index: 1;
}

.player-piece.highlight {
    cursor: pointer;
    border: 2px dashed;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: translate(50%, 50%) rotate(0deg);
    }
    50% {
        transform: translate(50%, 50%) rotate(180deg) scale(1.4);
    }
    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

[player-id="P1"].player-piece {
    background-color: #2eafff;
}

[player-id="P2"].player-piece {
    background-color: #00b550;
}

.player-base {
    width: 40%;
    height: 40%;
    border: 30px solid;
    position: absolute;
}

.player-bases [player-id="P1"].player-base {
    bottom: 0;
    left: 0;
    border-color: #1295e7;
}

.player-bases [player-id="P2"].player-base {
    top: 0;
    right: 0;
    border-color: #049645;
}

.player-base.highlight {
    animation: border-blink .7s infinite ease-in-out;
}

@keyframes border-blink {
    50% {
        border-color: rgba(255, 255, 255, 0.8);
    }
}

/* ===== BOTÕES ===== */

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:disabled {
    opacity: 0.5;
}

.btn-dice {
    background-color: #009d60;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* ======== ESTILO DO DADO ======== */

#dice-btn {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice-face {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 10px;
    border: 2px solid #006b42;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 8px;
}

/* pontinhos do dado */
.pip {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

/* posições dos pontinhos */
.top-left { grid-area: 1 / 1; }
.top-right { grid-area: 1 / 3; }
.middle-left { grid-area: 2 / 1; }
.middle-right { grid-area: 2 / 3; }
.bottom-left { grid-area: 3 / 1; }
.bottom-right { grid-area: 3 / 3; }
.center { grid-area: 2 / 2; }

/* número do dado */
.dice-value {
    font-size: 24px;
    font-weight: bold;
}
